/* globals.css */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html,
body {
  height: 100%;
  margin: 0;
}

:root {
  --font-primary: var(--font-inter);
  --font-accent: var(--font-playfair);
}

body {
  font-family: var(--font-inter);
  background: #f6f6f6;

}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Takes full viewport height */
}

/* The main content area between Navbar and Footer */
main {
  flex: 1;
  /* This tells the main area to 'grow' to fill available space */
}